[submodule "cpp-data-format"]
	path = cpp-data-format
	url = https://github.com/Piotr-Brzeski/cpp-data-format.git
[submodule "home-link"]
	path = home-link
	url = https://github.com/Piotr-Brzeski/home-link.git
	branch = xcodegen
[submodule "cpp-network"]
	path = cpp-network
	url = https://github.com/Piotr-Brzeski/cpp-network.git
	branch = xcodegen
[submodule "cpp-coap"]
	path = cpp-coap
	url = https://github.com/Piotr-Brzeski/cpp-coap.git
	branch = xcodegen
[submodule "cpp-log"]
	path = cpp-log
	url = https://github.com/Piotr-Brzeski/cpp-log
[submodule "cpp-ikea"]
	path = cpp-ikea
	url = https://github.com/Piotr-Brzeski/cpp-ikea.git
	branch = dirigera
[submodule "curl-ws"]
	path = curl-ws
	url = https://github.com/Piotr-Brzeski/curl-ws.git
